# Dependencies
node_modules/
.pnpm-store

# Production
dist/
build/
lib/
out/

# TypeScript
*.tsbuildinfo

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
test-data/
test-data-integration/
__snapshots__
*.test.js
*.spec.js

# VERA Specific
.vera/
*.db/

# Environment variables
.env
.env.test
.env.production
.env.local
.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
.history/

# Temporary
tmp/
.tmp/
